@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  width: 100%;
}
:root {
  --svart-100: black;
  --hvit-100: white;
  --graa-75: rgb(196, 196, 196);
  --graa-50: rgb(128, 128, 128);
  --graa-25: rgb(55, 55, 55);
  --h1-size: 60px;
  --button-border-radius: 5px;
  --blaa-100: blue;
  --blaa-hover: rgb(0, 0, 192);
  --blaa-home: rgb(89, 89, 225);
  --blaa-home-2: rgb(46, 46, 118);
  --red-pinklish: rgb(255, 0, 51);
}
html {
  background-color: var(--svart-100);
}
body {
  font-family: "Inter", sans-serif;
}
header {
  height: 100px;
  font-size: 50px;
  background: linear-gradient(to bottom, black, transparent);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 150px;
  position: fixed;
  width: 100%;
}
header img {
  display: block;
  height: fit-content;
  width: 200px;
  cursor: pointer;
}
button {
  cursor: pointer;
  transition: 0.2s;
  border: none;
}
.narrowFilm,
.wideFilm {
  border: 1px solid var(--graa-25);
  flex-shrink: 0;
  border-radius: 10px;
  cursor: pointer;
  background-position: center;
  overflow: hidden;
  transition: 0.2s;
}
.narrowFilm {
  width: 200px;
  height: 300px;
  background-size: 101%;
}
.wideFilm {
  width: 300px;
  height: 200px;
  display: flex;
  background-size: 120%;
}
.wideFilm img {
  width: 85%;
  margin: auto;
}
.wideFilm:hover {
  background-size: 125%;
}
.narrowFilm:hover {
  background-size: 105%;
}
.none {
  display: none !important;
}
.browse {
  anchor-name: --menu-btn;
}
.dropdown {
  backdrop-filter: blur(10px) brightness(0.3);
  position: absolute;
  position-anchor: --menu-btn;
  top: anchor(bottom);
  right: anchor(right);
  margin-top: 10px;
  width: 200px;
  height: 200px;
  border: 1px solid var(--graa-25);
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 10px;
  gap: 10px;
}
.dropdown div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  gap: 5px;
  cursor: pointer;
  transition: 0.1s;
}
.dropdown div i {
  color: var(--blaa-home);
}
.dropdown div:hover {
  background-color: rgb(27, 27, 27);
}
.dropdown > button {
  background-color: transparent;
  border: 1px solid var(--graa-25);
}
.dropdown > button:first-of-type {
  border-radius: 7px 7px 7px 15px;
}
.dropdown > button:last-of-type {
  border-radius: 7px 7px 15px 7px;
}
.dropdown > button:hover {
  background-color: transparent;
  border: 1px solid var(--blaa-home);
}
.dropdown > button p {
  margin-top: 5px;
  color: var(--graa-50);
}
.dropdown > button > i {
  color: var(--graa-50);
}
.dropdown > div > button {
  border: 1px solid var(--blaa-home-2);
}
.dropdown > div > button:hover {
  background-color: transparent;
}
.dropdown div p {
  font-size: 12px;
}
::-webkit-scrollbar {
  display: none;
}
