body {
  height: 100vh;
  background-image: url(assets/images/moviecatalog.webp);
  background-size: cover;
  font-optical-sizing: auto;
  position: relative;
}

section {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}
button {
  background-color: var(--blaa-100);
  cursor: pointer;
  transition: 0.2s;
  border-radius: var(--button-border-radius);
  border: none;
  color: var(--hvit-100);
}
button:hover {
  background-color: var(--blaa-hover);
}
nav {
  display: flex;
}
#signUp {
  padding: 10px;
  font-weight: 900;
  margin-left: 15px;
  height: fit-content;
  align-self: center;
}
.transContainer {
  display: grid;
  height: fit-content;
}
.transContainer > button:last-of-type {
  padding: 8px;
  font-size: 15px;
  background: rgba(37, 37, 37, 0.689);
  border: 1px solid rgb(112, 112, 112);
  position: absolute;
  margin-top: 34px;
  width: 193px;
  backdrop-filter: blur(1px);
}
.transContainer > button:last-of-type:hover {
  background-color: rgb(73, 73, 73);
}
#trans {
  width: 193px;
  padding-block: 8px;
  font-size: 15px;
  background: none;
  border: 1px solid rgb(112, 112, 112);
  border-radius: var(--button-border-radius);
  z-index: 1;
  display: flex;
  justify-content: space-evenly;
}
#trans:hover {
  border: 1px solid var(--hvit-100);
}
h1 {
  color: var(--hvit-100);
  font-size: var(--h1-size);
  font-weight: 900;
}
p {
  color: var(--graa-75);
}
footer {
  height: 100px;
  border-radius: 100% 100% 0 0;
  border-top: 4px solid transparent;
  background-image:
    linear-gradient(rgb(14, 14, 76), var(--svart-100)),
    linear-gradient(to right, var(--svart-100), #2487dd, var(--svart-100));
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
.getStarted {
  width: 272px;
  padding-block: 15px;
  font-size: 25px;
  font-weight: 900;
}
section div:last-of-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.signinsection {
  position: fixed;
  height: 100vh;
  width: 100%;
  backdrop-filter: blur(5px) brightness(0.5);
}
.signincontainer {
  position: relative;
  text-align: center;
  z-index: 10;
  padding-block: 50px;
  border-radius: 10px;
  /* background-color: rgba(23, 23, 23); */
  background:
    linear-gradient(to bottom, rgba(23, 23, 23), rgba(15, 15, 15)),
    linear-gradient(
      to right,
      var(--graa-25),
      var(--graa-25),
      var(--hvit-100),
      var(--graa-25)
    );
  border-inline: 1px solid var(--graa-25);
  border-top: 1px solid var(--graa-25);
  border-bottom: 1px solid transparent;
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
.signincontainer img {
  width: 90px;
  margin: auto;
}
.signincontainer i {
  position: absolute;
  top: 35px;
  left: 35px;
  padding-left: 10px;
  padding-right: 25px;
  padding-block: 7.5px;
  border-radius: 100%;
  background-color: var(--graa-25);
  color: var(--graa-25);
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s;
}
.signincontainer i:hover {
  color: var(--svart-100);
  background-color: rgb(255, 0, 51);
}
.signincontainer > div {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-inline: 150px;
}
input {
  background-color: rgb(38, 38, 38);
  border: 1px solid var(--graa-50);

  padding: 18px;
  border-radius: 15px;
  font-size: 16px;
  width: 500px;
  align-self: center;
  color: var(--hvit-100);
}
input:focus {
  outline: 1px solid var(--hvit-100);
  border: 1px solid rgb(38, 38, 38);
}
.signincontainer > a {
  width: fit-content;
}
.signincontainer > a > button {
  margin-top: 20px;
  padding-block: 15px;
  border-radius: 10px;
  font-size: 16px;
  width: 300px;
  align-self: center;
}
.signincontainer > div > h2 {
  font-size: 30px;
}
.signincontainer > div > p {
  font-size: 17px;
  line-height: 30px;
}
