nav {
  display: flex;
  gap: 8px;
}
header {
  position: absolute !important;
  z-index: 1;
}
nav button {
  padding: 7px;
  border-radius: 7px;
  border: none;
  font-size: 15px;
  background-color: transparent;
  color: var(--hvit-100);
}
nav button:hover {
  background-color: var(--blaa-100);
}
nav > button:last-of-type {
  border-radius: 100%;
  padding-block: 9px;
}
nav > button:nth-of-type(3) > i,
nav > button:last-of-type > i {
  font-size: 20px;
}
.watchNow {
  height: 750px;
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  align-items: end;
  padding: 80px;
  position: relative;
}
.watchNow img {
  width: 40%;
  height: fit-content;
}
.graddy {
  position: absolute;
  width: 100% !important;
  bottom: 0;
  left: 0;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
section {
  position: relative;
}
section > button {
  position: absolute;
}
section:nth-of-type(2),
section:nth-of-type(3),
section:nth-of-type(4),
section:last-of-type {
  max-width: 90%;
}
section:nth-of-type(2) > h1,
section:nth-of-type(3) > h1,
section:nth-of-type(4) > h1,
section:last-of-type > h1 {
  color: white;
  margin-bottom: 40px;
}
.left {
  left: 0;
}
.right {
  right: 0;
}
.left,
.right {
  height: 200px;
  background-color: rgba(0, 0, 1, 0.814);
  width: 50px;
  filter: opacity(0);
  transition: 0.2s;
}
.right:hover,
.left:hover {
  filter: opacity(1);
}
section:nth-of-type(2) > button {
  height: 300px;
}
.left i,
.right i {
  font-size: 30px;
  color: var(--hvit-100);
}
.track,
.premium-track {
  display: flex;
  gap: 10px;
  transition: 0.3s;
  overflow-x: scroll;
  scroll-behavior: smooth;
  color: white;
}
.historyCont {
  border: 2px solid white;
}
.track::-webkit-scrollbar,
.premium-track::-webkit-scrollbar {
  display: none;
}
